{% extends 'base.html' %}

{% block content %}
    <div class="post-hero-image" style="background-image: url('https://via.placeholder.com/1500x600');">
        <div class="hero-text">
            <h1>Blog Post Title</h1>
        </div>
    </div>
    <!-- Blog post content -->
    <article>
        <p>Written by Author Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <!-- More blog content goes here -->
    </article>
{% endblock %}